*{
    margin: 0px;
    padding: 0px;
}
body{
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSr6mktyrESxsT8RrETY5GLggE8WG9thxxjA&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
  
    background-attachment: scroll;
}
.navbar{

    margin-top: 15px;
}
.navbar ul{
    display :flex;
    list-style: none;
  
    justify-content: center;
}
.navbar li{
    padding: 20px;
}
.item{
   
    color: white;
    text-decoration: none;
    padding-right: 5px;
}
#m{
    font-size: 45px;
    color: orangered;
    margin-left: 20px;
    position:absolute;
    top:10px;
    left: 40px;
}
#searchbar{
 background: none;
    height: 20px;
    color: white;
    padding: 2px 15px 2px 3px;
    float: right;
    position: relative;
    width: 155px;
    height: 28px;
    right: 125px;
    bottom: 45px;
    border: 1px solid rgb(255, 102, 0);
    border-radius: 4px;
    outline: none;
}
#search{
    float: right;
    border: 0px solid white;
    background-color: rgb(233, 117, 39) ;
    border-radius: 7px;
    position: relative;
    bottom:45px;
    left: 118px;
    padding: 8px 3px 8px 3px ;
    color: white;
}
.c{
    margin-top: 30px;
    margin-left: 30px;
}
.c h3{
    font-size: 22px;
    
}
#dev{
    color:rgb(233, 117, 39);
    font-size: 40px;

}
#team{
    font-size: 20px;
    margin-top: 5px;
    
}
.para {
    margin-left: 20px;
    margin-top: 15px;
   
}
.para p{
    margin-bottom: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 13px;
}
.container{
    width :270px;
    height: 380px;
    border:1px solid black;
    border-radius: 10px;
    float: right;
    position: relative;
    top:30px;
    left :198px;
    background-color:rgb(13, 13, 26);
}
.id{
    text-align: center;
    padding: 10px 20px ;

    margin: 25px 30px 30px 25px;

    border: 0px solid black;
background-color: white;
color:rgb(233, 117, 39);
border-radius: 10px;
}
.container label{
    color :white;
}
form{
    margin: 25px 30px 0px 15px;
}
.requirements{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(233, 117, 39) ;
    background: none;
    color: white;
    outline:none;
    width: 100%;
}
#email{
    margin-bottom: 30px;
}
#login{
    margin: 25px 0px 30px 5px;
    text-align: center;
    padding: 10px 20px ;
    width: 221px;
    background-color: rgb(233, 117, 39);
    border-radius: 10px;
    outline: none;
}
.formend{
        text-align: center;
        color :white;
        margin-top: -20px;
}
span{
    color:  rgb(233, 117, 39);

}